{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'guestbook/vendor/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
<h3>Gallery - Index</h3>
<p>
<h7><a href="/guestbook/upload" >Add New Image</a></h7>
</p>
	<p> </p><p> </p>
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default panel-table">
		<div class="panel-heading">
<div class="table-responsive">
<table class="table">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Category</th>
		<th>Uploaded At</th>
        <th>URL</th>

	</tr>
	{% for i in img_list %}
	<tr>
		<td>{{ i.title}}</td>
		<td>{{ i.description}}</td>
		<td>{{ i.photo_type}}</td>
		<td>{{ i.uploaded_at}}</td>
        <td><a href=" {{ i.document}}">{{ i.document}}</a></td>
	</tr>

	{% endfor %}
</table>
	</div>
		</div></div></div>
</body>
</html>
